**/.ipynb_checkpoints/*
**.log
*.pyc
*/*.pyc
*/**/__pycache__/*
datasets/words*
tensorboard/*
old/
snapshots/*
experiments/*
!.gitkeep
.ipynb_checkpoints
*/.ipynb_checkpoints/*
COVID-19
COVID-19-master
data
